.DS_Store
magneto/node_modules/
mage2vuestorefront/node_modules/
vue-storefront/node_modules/
magento2-docker-compose/node_modules/
vue-storefront-api/node_modules/
ImageMagick-7.0.10-12/
ImageMagick.tar.gz
dist/
npm-debug.log
.vscode/
.idea/
api_start.sh
api_test.sh
package-lock.json
src/config.json
config/local.json
config/certs/*.pem
var/magento2-sample-data/
.migrate
*.iml
/docker/elasticsearch/data/
!/docker/elasticsearch/data/.gitkeep
/docker/elasticsearch7/data/
!/docker/elasticsearch7/data/.gitkeep
